@font-face {
    font-family: 'Balloony';
    src: url('./fonts/subset-Balloony-Regular.woff2') format('woff2'),
    url('./fonts/subset-Balloony-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Astakhov Access Degree';
    src: url('./fonts/AstakhovAccessDegree.woff2') format('woff2'),
    url('./fonts/AstakhovAccessDegree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sniglet';
    src: url('./fonts/Sniglet.woff2') format('woff2'),
    url('./fonts/Sniglet.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FAD Omega Birthday Bats';
    src: url('./fonts/FADOmegaBirthdayBats.woff2') format('woff2'),
    url('./fonts/FADOmegaBirthdayBats.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    font-family: 'Sniglet', sans-serif;
}

.test {

    font-size: 24px;
}

.greeting-card {
    width: 100%;
}

.animation-base {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/root-bg.jpg');
    overflow: hidden;
}

.balloon {
    width: 15vw;
    position: absolute;
    top: 100vh;
}

.gift {
    max-width: 350px;
    width: 40vw;
    position: absolute;
    top: -50vh;
}

#large {
    width: 40vw;
}

.balloon-2 {
    left: 7vw;
}

.balloon-3 {
    left: 20vw;
}

.balloon-3 {
    left: 30vw;
}

.greet-message span, .greet-message-2 span {
    width: 12vw;
    font-size: 12vw;
    height: 390px;
    position: absolute;
    left: 200px;
    top: 125px;
    transform-origin: bottom center;
}


.greet-message-2 span {
    top: 300px;
}

.greet-message span.char1 {
    color: mediumpurple;
    transform: rotate(-16deg);
}

.greet-message span.char2 {
    transform: rotate(-5deg);
    color: aqua;
}

.greet-message span.char3 {
    transform: rotate(6deg);
    color: magenta;
}

.greet-message span.char4 {
    transform: rotate(17deg);
    color: darkslateblue;
}

.greet-message span.char5 {
    transform: rotate(28deg);
    color: dodgerblue;
}

.greet-message-2 span.char1 {
    transform: rotate(-18deg);
    color: orange;
}

.greet-message-2 span.char2 {
    transform: rotate(-8deg);
    color: crimson;
}

.greet-message-2 span.char3 {
    transform: rotate(-1deg);
    color: indigo;
}

.greet-message-2 span.char4 {
    transform: rotate(8deg);
    color: green;
}

.greet-message-2 span.char5 {
    transform: rotate(16deg);
    color: darkblue;
}

.greet-message-2 span.char6 {
    transform: rotate(26deg);
    color: maroon;
}

.greet-message-2 span.char7 {
    transform: rotate(36deg);
    color: orangered;
}

.greet-message-2 span.char8 {
    transform: rotate(46deg);
    color: darkturquoise;
}

.root-greet {
    display: none;
}

h1 {
    font-family: "Astakhov Access Degree", sans-serif;
    font-size: 32px;
    padding: 32px;
    text-align: center;
    background-image: url('./img/root-bg.jpg');
    margin: 0;
    color: lightseagreen;
}

.nav-elem {
    color: darkmagenta;
    font-family: "Astakhov Access Degree", sans-serif;
    font-size: 32px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: none;
}